.section_current {
	font-family: HelveticaLight;
	margin-top: 80px;
	margin-bottom: 100px;
	font-size: 22px;
	color: #000;
	line-height: 1.25;
}

.current_info {
	text-align: center;
	margin-bottom: 90px;
}

.current_title {
	background: #ff6b00;
	font-size: 26px;
	color: #fff;
	margin-bottom: 30px;
	padding: 30px 0;
}

.current_desc {
	margin-bottom: 30px;
	padding: 0 35px;
}

.current_videos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}

.video {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.video_item:nth-child(1) {
	margin-bottom: 30px;
}

.current_actions {
	font-size: 23px;
	padding: 0 50px;
	text-align: center;
	margin-bottom: 50px;
}

.company_link {
	text-decoration: none;
	color: #ff6b00;
}

.company_link:hover {
	text-decoration: underline;
}

.slider_outer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	margin-bottom: 80px;
}

.slider {
	max-width: 700px;
	overflow-x: hidden;
}

.slider_inner {
	display: flex;
	flex-direction: row;
	transform: translateX(0px);
	transition: transform .9s ease-in-out;
}

.slider_main {
	min-width: 700px;
	display: flex;
	flex-direction: row;
	align-items: center;
	opacity: 1;
	transition: opacity .3s .2s ease-in-out;
}

.slide_off {
	opacity: 0;
}

.slider_img {
	max-width: 100%;
	height: auto;
}

.slider_btn {
	top: 50%;
	position: absolute;
	outline: none;
	padding: 10px;
	color: #ff6b00;
	background: none;
	font-size: 30px;
	border: none;
	cursor: pointer;
	transform: translateY(-50%) scale(1.25, 1.5);
	transition-property: color, text-shadow;
	transition-duration: .3s;
	transition-timing-function: linear;
}

#btn_prev {
	left: 0;
}

#btn_next {
	right: 0;
}

.btn_off {
	color: #c9c9c9;
}

.btn_on {
	color: #ff6b00;
}

.btn_on:hover {
	text-shadow: 0px 0px 5px #ff6b00;
}

.current_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: HelveticaRegular;
	font-size: 15px;
	color: #9e9c9c;

}

.back, .next, .prev {
	position: relative;
	text-decoration: none;
	color: #9e9c9c;
	font-size: 15px;
}

.back:hover, .next:hover, .prev:hover {
	color: #000;
}

.current_page {
	display: flex;
	align-items: center;
}

.slash {
	margin: 0 5px;
}

