.section_about {
	font-family: Raleway;
	font-weight: 400;
	margin-top: 80px;
	margin-bottom: 100px;
	font-size: 22px;
	color: #000;
	line-height: 1.25;
}

.works_link {
	color: #9e9c9c;
}

.works_link:hover {
	color: #000;
}

.works_link::after {
	opacity: 0;
}

.person_link::after {
	opacity: 1;
}

.person_link {
	color: #000;
}

.about_main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.about_img {
	max-width: 50%;
	height: auto;
}

.about_info {
	max-width: 90%;
	text-align: left;
	padding-left: 20px;
	font-size: 17px;
}

.about_title {
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 30px;
}

.about_desc {
	margin-bottom: 20px;
}

.footer_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.resume_img {
	max-width: 90%;
	height: auto;
	margin: 0 auto;
}

.off {
	display: none;
}

.btn_wrap {
	position: relative;
}

.resume_button {
	text-decoration: underline;
	color: #000;
	font-size: 18px;
	outline: none;
	cursor: pointer;
	background: #fff;
	padding: 5px 0px;
	transition-property: color, border-color;
	transition-duration: .2s;
	transition-timing-function: linear;
}

.resume_button:hover {
	color: #9e9c9c;
	border-color: #9e9c9c;
}
