.section_current {
	font-family: Raleway;
	margin-top: 80px;
	margin-bottom: 100px;
	font-size: 20px;
	color: #000;
	line-height: 1.25;
}

.current_info {
	text-align: center;
	margin-bottom: 70px;
}

.current_title {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 40px;
}

.current_desc {
	margin-bottom: 40px;
	line-height: 1.5;
}

.video_item {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.video_item:last-child {
	margin-bottom: 0;
}

.video {
	outline: none;
	max-width: 100%;
	height: auto;
}

.current_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: HelveticaRegular;
	font-size: 15px;
	margin-top: 80px;
	color: #9e9c9c;
}

.back, .next, .prev {
	position: relative;
	text-decoration: none;
	color: #9e9c9c;
	font-size: 15px;
}

.back:hover, .next:hover, .prev:hover {
	color: #000;
}

.current_page {
	display: flex;
	align-items: center;
}

.slash {
	margin: 0 5px;
}

.section_works {
	margin-top: 100px;
}