.section_current {
	font-family: Raleway;
	margin-top: 80px;
	margin-bottom: 100px;
	font-size: 22px;
	color: #000;
	line-height: 1.25;
}

.current_info {
	text-align: center;
	margin-bottom: 50px;
}

.current_title {
	font-weight: 700;
	font-size: 33px;
	margin-bottom: 40px;
}

.current_desc {
	font-size: 25px;
	letter-spacing: 3px;
}

.images {}


.img_item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.img_item:nth-child(1) {
	margin-bottom: 50px;
}

.book_link {
	text-decoration: none;
	color: #ff8562;
	margin-bottom: 30px;
}

.book_link:hover {
	text-decoration: underline;
}

.img {
	max-width: 100%;
	height: auto;
}

.img_item:nth-child(1) .img {
	box-shadow: 2px 2px 10px #ff8562;
}

.img_item:nth-child(2) .img {
	box-shadow: 2px 2px 10px #afa69f;
}

.current_nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: HelveticaRegular;
	font-size: 15px;
	margin-top: 80px;
	color: #9e9c9c;
}

.back, .next, .prev {
	position: relative;
	text-decoration: none;
	color: #9e9c9c;
	font-size: 15px;
}

.back:hover, .next:hover, .prev:hover {
	color: #000;
}

.current_page {
	display: flex;
	align-items: center;
}

.slash {
	margin: 0 5px;
}

.section_works {
	margin-top: 100px;
}